@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");

:root {
  --background-color: #0d0c0c;
  --container-color: #1c1b1b;
  --primary-font-color: #dadada;
  --secondary-font-color: #797979;
  --tertiary-font-color: #a7a7a7;
  --accent-color: #62cd5d;
  --border-color: #5b5b5b;
  --sans-serif-font: "Karla", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: auto;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  min-height: 100vh;
  place-items: center;
  position: relative;
  background-color: var(--background-color);
  font: 1rem var(--sans-serif-font);
  color: var(--primary-font-color);
}

a {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: inherit;
  &:hover {
    color: var(--accent-color);
  }
}

.wrapper {
  text-align: left;
  width: calc(100vw - 25px);
  height: calc(100vh - 25px);
  margin: 0 auto;
  background: transparent;
  position: relative;
  overflow-y: scroll;
  background: var(--container-color);
  border: 1px solid black;
  border-radius: 0.5rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  & .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    margin: 0.5rem;
  }
  & .navIcons a {
    font-size: 2rem;
    margin: 0.5rem;
  }
  & form {
    margin: 0.5rem 3rem;
    flex-grow: 2;
    & input {
      border-radius: 30px;
      padding: 15px;
      width: 40%;
      border: 1px solid var(--border-color);
      background: none;
      -webkit-appearance: none;
      box-shadow: none !important;
      outline: 0;
      color: var(--primary-font-color);
    }
  }
}

section {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.noResults h2 {
  color: var(--secondary-font-color);
}

.login {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  & form {
    min-width: 400px;
  }
  & input {
    display: block;
    border-radius: 30px;
    margin: 0.5rem;
    padding: 15px;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: var(--primary-font-color);
    border: 1px solid var(--border-color);
  }
}
input[type="submit"] {
  background: var(--accent-color);
  width: 100%;
  color: white;
}

.card {
  display: flex;
  gap: 1rem;
  & .cardImg img {
    border-radius: 8px;
    border: 1px solid var(--border-color);
  }
}

.cards {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
}

.gradientLine {
  display: block;
  margin: 3rem 2rem;
  border: none;
  height: 1px;
  background: var(--background-color);
  background: linear-gradient(
    to right,
    var(--container-color),
    var(--secondary-font-color),
    var(--tertiary-font-color),
    var(--secondary-font-color),
    var(--container-color)
  );
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
